.footer__column-link {
    list-style-type: none;
}
  
.footer__column-link a {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}